@use "./styles/partials/global";
@use "./styles/partials/mixins" as *;

#root {
  width: 100%;
  padding: 1rem;
  @include flex(column);
  @include tablet {
    padding: 1rem 2rem 1rem 2rem;
  }

  @include desktop {
    max-width: 1216px;
  }
}
