@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.gen-box {
  width: 100%;
  min-height: 200px;
  max-width: 400px;
  border: 1.5px solid black;
  border-radius: 1rem;
  @include flex(column);

  @include tablet {
    width: 50%;
    min-height: 350px;
    min-width: 400px;
    max-width: 600px;
  }

  &__emoji {
    font-size: 4rem;
    @include tablet {
      font-size: 6rem;
    }
  }

  &__prompt {
    font-size: 1rem;
    padding: 0 1rem;
    @include tablet {
      font-size: 1.5rem;
    }
  }
}
